<div class="row">

  <%= simple_form_for :invites do |f| %>
    <%= f.input_field :emails, multiple: true %>
    <%= f.input_field :emails, multiple: true %>
    <%= f.input_field :emails, multiple: true %>
    <%= f.input_field :emails, multiple: true %>
    <%= f.input_field :emails, multiple: true %>
    <%= f.submit %>
  <% end %>
</div>