<%= image_tag("logo.png", size: "280x100", alt: "SupportRoo logo") %>

<p>Dear <%= @task.user.first_name %>,</p>

<p>We wanted to let you know that a task that you signed up for on
<%= @owner.first_name %>'s support board has been editted.  The updated details of
the task are below:</p>

<h3><%= @task.task_type.name %></h3>

<ul>
  <li>Start time: <%= @task.pretty_start_time %></li>
  <li>Task description: <%= @task.description %></li>
  <li>From board: <%= @task.board.name %></li>
</ul>

<p>Please the let board owner know if you can no longer complete this task!</p>

<p>Sincerely, the SupportRoo team</p>
