<span class="right">
  <%= link_to fa_icon("times"), board_path(task.board_id) %>
</span>

<h4>Edit task:</h4>

<%= simple_form_for task, { url: task_path(task), method: :put } do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>

  <!-- THIS IS TOO UGLY, FIX IT, something like below? -->
  <!-- f.input :start_time, as: :datetime -->
  <!-- f.input :end_time, as: :datetime -->

  <!-- START TIME? -->
 <div class="select-date-wrapper">
   <%= f.label(:start_time) %>
   <%= f.datetime_select :start_time, options = {order: [:month, :day, :year], discard_year: true, ampm: true, minute_step:15} %>
 </div>

  <!-- END TIME? -->
 <div class="select-date-wrapper">
   <%= f.label(:end_time) %>
   <%= f.datetime_select :end_time, options = {order: [:month, :day, :year], discard_year: true, ampm: true, minute_step:15} %>
 </div>

  <%= f.submit("Update task", class: "button center tiny radius add-task") %>
<% end %>
