<div class="new-task-form">

  <%= simple_form_for :task, url: tasks_path, method: :post do |f| %>
    <h4> Add new task </h4>
    <%= f.input :task_type_id,
      collection: types,
      prompt: "Choose #{category} task",
      label: false %>

    <%= f.input :title, placeholder: "Title", label: false %>
    <%= f.input :description, as: :text, placeholder: "Description", label: false %>

    <!-- THIS IS TOO UGLY, FIX IT, something like below? -->
    <!-- f.input :start_time, as: :datetime -->
    <!-- f.input :end_time, as: :datetime -->

    <!-- START TIME? -->
    <div class="select-date-wrapper">
      <%= f.input :start_date, as: :string, input_html: { class: "date-picker", id: "#{category}-start-time" },
          label: false,
          placeholder: "Start Date" %>
      <%= f.input :start_time, as: :string, input_html: { class: "time-picker", id: "#{category}-start-time" },
          label: false,
          placeholder: "Start Time" %>
    </div>

    <%= f.input(:completion_check, as: :boolean, label: "Check that this task was completed via SMS?") %>
      <div class="select-date-wrapper">
        <%= f.input :completion_check_date, as: :string, input_html: { class: "date-picker", id: "#{category}-completion-time" },
            label: false,
            placeholder: "Date of check" %>
        <%= f.input :completion_check_time, as: :string, input_html: { class: "time-picker", id: "#{category}-completion-time" },
            label: false,
            placeholder: "Time of check" %>
      </div>
    <%= f.hidden_field :board_id, { value: @board.id } %>
    <%= f.submit("Add task", class: "button center radius add-task") %>
  <% end %>
</div>
