<div class="new-task-form">

  <%= simple_form_for Task.new do |f| %>
    <h4> Add new task </h4>
    <%= f.input :task_type_id,
      collection: types,
      prompt: "Choose #{category} task",
      label: false %>
    <%= f.input :title, placeholder: "Title", label: false %>
    <%= f.input :description, as: :text, placeholder: "Description", label: false %>

    <!-- THIS IS TOO UGLY, FIX IT, something like below? -->
    <!-- f.input :start_time, as: :datetime -->
    <!-- f.input :end_time, as: :datetime -->

    <!-- START TIME? -->
    <div class="row">
      <div class="select-date-wrapper">
        <%= f.label(:start_time) %>
        <%= f.datetime_select :start_time, options = {
          order: [:month, :day, :year],
          discard_year: true,
          ampm: true,
          minute_step:15
        } %>
      </div>
    </div>

    <div class="row">
      <%= f.input(:completion_check, as: :boolean, label: "Check that this task was completed via SMS?") %>
      <div class="select-date-wrapper">
        <%= f.label("Choose time for completion check") %>
        <%= f.datetime_select :completion_check_time, options = {
          order: [:month, :day, :year],
          discard_year: true,
          ampm: true,
          minute_step:15
        } %>
      </div>
    </div>

    <%= f.hidden_field :board_id, { value: @board.id } %>
    <%= f.submit("Add task", class: "button center radius add-task") %>
  <% end %>
</div>
