<div class="columns small-4">
  <h4>
    <a class="label success radius" href="#" data-reveal-id="GenModal">
      <i class="fa fa-plus fa-2x"> Add a new task</i>
    </a>
  </h4>
  <div id="GenModal" class="reveal-modal" data-reveal>
    <%= render "tasks/form", b: @board, t: nil %>
    <a class="close-reveal-modal">&#215;</a>
  </div>

  <div class="task-type-buttons">
    <% categories.each do |c| %>
    <h4><%= c.titleize %>:</h4>
    <ul class="category_list">
      <% types.where(category: c.to_sym).each do |t| %>
      <li class="task_type">
        <a href="#" data-reveal-id="<%= t.name.parameterize %>Modal"><%= t.name %></a>
        <div id="<%= t.name.parameterize %>Modal" class="reveal-modal" data-reveal>
          <%= render "tasks/form", t: t, b: @board %>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>