
<div class="task-type-buttons content active" id="task-add-sidebar">
  <h5>Add a task:</h5>
  <% categories.each do |cat| %>
  <div>
    <a href="#" data-reveal-id="<%= "#{cat}-modal" %>">
      <div class="task-categories">
        <i class='<%=t cat%>'><%= ' ' + cat.titleize %></i>
      </div>
    </a>

    <div id="<%="#{cat}-modal"%>" class="reveal-modal tiny" data-reveal>
      <%= render partial: "tasks/form",
      locals: { category: cat, types: TaskType.where(category: cat.to_sym) } %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
  <% end %>

  </br>
  <h5>Other Actions:</h5>
  <div class="task-categories">
    <%= link_to "Invite Supporters", new_board_invites_path(@board) %>
  </div>
  <div class="task-categories">
    <%= link_to "View Supporters (#{@board.non_owners.count})", supporters_board_path(@board) %>
  </div>
</div>