
<h4>Choose a new task:</h4>
<dl class="task-type-buttons accordion" id="task-add-sidebar" data-accordion>
  <% categories.each do |c| %>
    <dd class="accordion-navigation category-names">
      <a href="#<%= c %>">
        <h4> <%= fa_icon("chevron-right") %><%= c.upcase %></h4>
      </a>
      <div id="<%= c %>" class="content category-content">
        <ul class="category-items">
          <% types.where(category: c.to_sym).each do |t| %>
            <li>
              <a href="#" data-reveal-id="<%= t.name.parameterize %>Modal">
                <div><%= fa_icon("plus") %><%= t.name %></div>
              </a>
              <div id="<%= t.name.parameterize %>Modal" class="reveal-modal" data-reveal>
                <%= render "tasks/form", t: t, b: @board %>
                <a class="close-reveal-modal">&#215;</a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </dd>
  <% end %>
</dl>
