<h4>Add a task</h4>
<div class="task-type-buttons content active" id="task-add-sidebar">
  <% categories.each do |cat| %>
  <div>
    <a href="#" data-reveal-id="<%= "#{cat}-modal" %>">
      <div class="task-categories">
        <i class='<%=t cat%>'><%= ' ' + cat.titleize %></i>
      </div>
    </a>

    <div id="<%="#{cat}-modal"%>" class="reveal-modal tiny" data-reveal>
      <%= render partial: "tasks/form",
      locals: { category: cat, types: TaskType.where(category: cat.to_sym) } %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
  <% end %>
</div>