<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#task-add-sidebar">
      <h4>Add a task
        <span class="right">
          <%= fa_icon('plus') %> <%= fa_icon('minus') %>
        </span>
      </h4>
    </a>
    <div class="task-type-buttons content active" id="task-add-sidebar">
      <% categories.each do |cat| %>
        <div>
        <a href="#" data-reveal-id="<%= "#{cat}-modal" %>">
          <div class="task-categories">
            <i class='<%=t cat%>'><%= ' ' + cat.titleize %></i>
          </div>
        </a>

        <div id="<%="#{cat}-modal"%>" class="reveal-modal tiny" data-reveal>
          <%= render partial: "tasks/form",
            locals: { category: cat, types: TaskType.where(category: cat.to_sym) } %>
          <a class="close-reveal-modal">&#215;</a>
          </div>
        </div>
      <% end %>
    </div>
  </dd>

  <dd class="accordion-navigation">
    <a href="#task-filter-sidebar">
      <h4>Filter tasks
        <span class="right">
          <%= fa_icon('plus') %> <%= fa_icon('minus') %>
        </span>
      </h4>
    </a>
    <div class="task-type-buttons content" id="task-filter-sidebar">
      <% categories.each do |cat| %>
        <%= link_to(board_path(@board, filter: cat)) do %>
          <div class="task-categories">
            <i class='<%=t cat%>'><%= ' ' + cat.titleize %></i>
            <span class="right">
              <%= fa_icon('circle') if params[:filter] == cat %>
            </span>
            <span class="right hover-only">
              <%= fa_icon('circle-thin') unless params[:filter] == cat %>
            </span>
          </div>
        <% end %>
      <% end %>
    </div>
  </dd>
</dl>
