<div class='<%= "columns large-12 task-info #{task.accepted? ? 'accepted' : 'available'} #{'completed' if task.completed}"  %>' id='<%= "task-#{task.id}"%>' >
  <div class="top-row">
    <span class="task-type-name">
      <%= fa_icon("user") if task.accepted? && !task.completed? %>
      <%= fa_icon("check-square-o") if task.completed? %>
      <%= "#{task.task_type.name}" %>
    </span>

    <ul class="button-group edit-buttons">
      <li>
        <%= link_to fa_icon("times"), task_path(task.id),
          method: "delete",
          id: 'delete-icon' %>
      </li>
      <% if task.pinned? %>
        <li>
          <%= link_to fa_icon("minus"), pin_task_path(task.id),
            method: "post",
            id: 'unpin-icon' %>
        </li>
      <% else %>
        <li>
          <%= link_to fa_icon("thumb-tack"), pin_task_path(task.id),
            method: "post",
            id: 'pin-icon' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="primary-info">
    <div class="title">
      <strong>Name: </strong><span><%= task.title %></span>
    </div>
    <div class="start-time">
      <strong>Start time: </strong><%= task.start_time.strftime("%B %d, %I:%M%p") %>
    </div>

    <div class="acceptance-info">
      <% if task.accepted? %>
       <strong>Accepted by:</strong> <%= task.user.friendly_name %>
      <% else %>
        <strong>Status: </strong><span>Available</span>
      <% end %>
      <div>
        <% if task.completed?  %>
          <strong>Status: </strong>Complete!</span>
        <% end %>
      </div>
    </div>
    <div class="other-info">
      <strong>Description:</strong> <%= task.description %>
        <% if task.accepted? %>
          <div class="supporter-note">
            <strong>Note: </strong> <em>"<%= task.supporter_message %>"</em>
          </div>
        <% end %>
    </div>
  </div>
</div>
