<div class="columns large-12 panel task-info" id='<%= "task-#{task.id}"%>'>
  <div class="row">
    <div class="columns large-10"><h4><%= task.title %></h4></div>
    <div class="columns large-1">
      <%= link_to fa_icon("times"), task_path(task.id), method: "delete", class: "button tiny right alert radius small" %>
    </div>
    <div class="columns large-1">
      <%= link_to fa_icon("pencil"), edit_task_path(task.id),
        method: "get",
        class: "button tiny right success radius small",
        remote: true %>
    </div>
  </div>
  <% if task.accepted? %>
    <p><strong>Accepted by:</strong> <%= task.supporter_name %></p>
    <p><strong>Supporter Note:</strong> <%= task.supporter_message %></p>
  <% else %>
    <p><strong>Status:</strong> Unaccepted</p>
  <% end %>

  <p><strong>Description:</strong> <%= task.description %></p>
  <p><strong>Start time:</strong> <%= task.start_time.to_formatted_s(:long) %>

  <% if task.end_time %>
    </br><strong>End time:</strong> <%= task.end_time.to_formatted_s(:long) %></p>
  <% end %>
</div>
