<div class="accepted-task task-info columns small-12">
  <span class="task-type-name">
    <%= fa_icon("check-square-o") if task.completed? %>
    <%= task.task_type.name %>
  </span>

  <% if task.completed? %>
    <span class="right button small success">Completed!</span>
  <% else %>
    <%= link_to "Mark as completed", complete_task_path(task),
    class: "button right small", method: :post %>
  <% end %>

  <div class="primary-info">
    <span class="start-time">
      <strong>To be done by: </strong><%= task.start_time.strftime("%B %d, %I:%M %p") %>
    </span>
  </div>

  <div class="other-info">
    <span><strong>Name:</strong> <%= task.title %></span></br>
    <span><strong>Description:</strong> <%= task.description %></span></br>
    <% if task.supporter_message.present? %>
      <span><strong>Your note: </strong> <%= task.supporter_message %></span></br>
    <% end %>
  </div>
</div>
