<div class="boards">
  <div class="row small-12 small-centered columns">
    <%= link_to new_board_path do %>
      <span class="label round success right add-board"><%= fa_icon("plus") %>Create a new board!</span>
    <% end %>

    <h3>Boards you own</h3>
    <% if !@own_boards.empty? %>

        <ul class="small-block-grid-4 board-list">
          <% @own_boards.each do |b| %>
            <li class="board-preview">
            <%= link_to b.name, b, class: "board-name" %>
              <a href="#" data-reveal-id="delete-board-modal-<%= b.id %>">
                <%= fa_icon("times", class: "right") %>
              </a>

              <p class="description"><em><%= b.description %></em></p>

              <div class="reveal-modal tiny" id="delete-board-modal-<%= b.id %>" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
                <h4>Delete this board and all of it's data?</h4>
                <a href="<%= board_path(b) %>" data-method="delete" class="center button round alert">Yes, delete board</a>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
              </div>
            </li>
          <% end %>
        </ul>
    <% else %>
      <p>You are not currently the owner of any boards, create a board to get started!</p>

    <% end %>

    <h3>Boards you support</h3>
    <% if @support_boards.empty? %>
        <p>You are not currently a Supporter on any boards</p>
    <% else %>
      <% @support_boards.each do |b| %>
        <%= link_to b.name, share_board_path(b) %>
      <% end %>
    <% end%>

    <% if session[:code].present? %>
    <h3>Pending Board Invitations</h3>
      <% session[:code].each do |c| %>
        <% if inv = Invite.find_by(code: c) %>
          <%= link_to inv.board.name, claim_board_invites_path(board_id: inv.board, code:c) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
