<%= month_calendar table: {class: "columns large-12", id: "calendar-body"},
    thead: true,
    tr: {class: "calendar-row"},
    day_names: "date.day_names",
    events: tasks do |date, tasks|  %>

<span class="date center"><%= date.day %></span>

  <% tasks.each do |task| %>
    <div class="event <%= 'accepted' if task.accepted? %> type-<%=task.task_type.category %>">
      <span data-tooltip aria-haspopup="true" class="has-tip"
      title="<%= "Description: #{task.description}
      </br> Start Time: #{task.start_time.strftime("%B %d, %I:%M%p")}
      " %>"
      >
      <%= link_to "#{task.start_time.strftime("%I%p")} #{task.title}", '#' %></span>
  </div>
  <% end %>
<% end %>
