<div class="top-bar">
  <div class="row" id="top-stuff">
    <span class="left">
      <%=image_tag 'logo.png', size: '360' %>
    </span>
    <ul class="right">
      <li class="name">
        <h1><a id="top-name" href="/"><%= @board.name %>'s Support Board</a></h1>
      </li>
      <li>
        <a href="https://docs.google.com/forms/d/1kOKc3pFMiop7SNDg-PDUnn15TKRR3i_F3s9l8RIc3f8/viewform?usp=send_form">Fill out our feedback survey please!</a>
      </li>
    </ul>
  </div>
</div>

<div class="full-width text-center share-link-bar orange">
  <span>Share your board!</span>
  <input type="text"
    value="<%= share_board_url(@board) %>">
  </input>
  <%= link_to fa_icon("envelope-o"), "mailto:?subject=Visit my board on SupportRoo!&body=#{share_board_url(@board)}" %>
  <div class="fb-send" data-href="https://supportroo-staging.herokuapp.com/<%= share_board_path(@board) %>" data-colorscheme="light"></div>
</div>
  <!-- <ul class="title-area">
    <li class="name">
      <h1><a href="/">SupportRoo</a></h1>
    </li>
  </ul> -->
<!--     <ul class="right">
      <li class="name">
        <h1><a href="/"><%= @board.name %>'s Support Board</a></h1>
      </li> -->
      <!-- <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li><a href="#">Active link in dropdown</a></li>
          <li><a href="#">Foo link in dropdown</a></li>
        </ul>
      </li> -->
    <!-- </ul> -->
