<%= render 'layouts/header' %>

<% if flash[:signup_success] %>
<div class="row panel">Thanks for signing up, this is your board!</div>
<% end %>

<div class="row">
  <div class="columns large-12 text-center">
    <h4>Share the link below with your network so they can start signing up for tasks!</h4>
    <div class="panel text-center">
      <%= share_board_url(@board) %>
    </div>

    <div class="calendar">
      <%= render partial: "shared/calendar", locals: { tasks: @tasks } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-4">
    <h3>Add a new task</h1>
      <div class="task-type-buttons">
        <% @task_types.each do |t| %>
          <%= render "tasks/form", t: t, b: @board %>
       <% end %>
     </div>
   </div>

   <div class="columns small-8">
    <h3>Your tasks</h3>
    <% if @tasks.empty? %>
    <div>You don't seem to have any support tasks yet! Your tasks will appear here after you add them</div>
    <% else  %>
    <% @tasks.each do |t| %>
    <div class="columns large-12 panel">
      <h4><%= t.task_type.name %></h4>
      <p><%= t.description %></p>
      <% if t.accepted? %>
      <span class="label success left radius">
        <%= t.supporter_name %> has signed up for this task!
      </span>
      <% else %>
      <span class="label regular radius">Available</span>
      <% end %>
      <%= link_to "Delete", task_path(t.id), method: "delete", class: "button right alert radius small" %>
    </div>
    <% end %>
    <% end  %>
  </div>
</div>
