<%= render 'layouts/header' %>

<% if flash[:signup_success] %>
  <div class="row panel">Thanks for signing up, this is your board!</div>
<% end %>

<div class="row">
  <h3>Add a new task</h1>
  <ul class="small-block-grid-4 task-type-buttons">
    <% @task_types.each do |t| %>

        <li class="panel">
          <%= form_for(:task, { url: tasks_path, method: :post }) do |f| %>
            <span class="label regular"><%= t.name %></span>
            <%= f.text_area(:description) %>
            <%= f.hidden_field( :task_type_id, { value: t.id }) %>
            <%= f.hidden_field( :board_id, { value: @board.id }) %>
            <%= f.submit("Add task", class: "button center") %>
          <% end %>
        </li>

    <% end %>
  </ul>
</div>


<div class="row">
  <h3>Your tasks</h3>

  <% @tasks.each do |t| %>
    <div class="columns large-12 panel">
      <h4><%= t.task_type.name %></h4>
      <p><%= t.description %></p>
      <%= link_to "Delete", task_path(t.id), method: "delete", class: "button right alert" %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="columns large-12">
    <h4>Share the link below with your network so they can start signing up for tasks!</h4> 
    <div class="panel text-center">
      <%= share_board_url(@board) %>
    </div>
  </div>
</div>

