<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <%=image_tag 'logo.png', size: '160' %>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <% if user_signed_in? %>
        <% current_user.owned_boards.each do |b| %>
          <li><%= link_to b.name, board_path(b) %></li>
        <% end %>
        <% current_user.supporting_boards.each do |b| %>
          <li><%= link_to b.name, share_board_path(b) %></li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <section class="top-bar-section">
    <ul class="right">
      <li>
        <% if user_signed_in? %>
        <li><a><%= link_to current_user.email, user_path(current_user) %></a></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </li>
    </ul>
  </section>
</nav>